body{
background-color: #282c34;
}

.App {
  text-align: center;
  
}

.card-layout{
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-template-rows: auto auto;
   grid-template-areas: 
    "card-1"
    "card-2"
    "card-3"
    "card-4"
    "card-5"
    ;
}

.card-1{
  margin: auto;
  height: 30vh;
  width: 80vw;
  grid-area: card-1;
}

.card-2{
  margin: auto;
  height: 30vh;
  width: 80vw;
  grid-area: card-2;
}

.card-3{
  margin: auto;
  height: 30vh;
  width: 80vw;
  grid-area: card-3;
}

.card-4{
  margin: auto;
  height: 40vh;
  width: 80vw;
  grid-area: card-4;
}

.card-5{
  margin: auto;
  height: 40vh;
  width: 80vw;
  grid-area: card-5;
}

.main {
  margin:auto;
  width: 90vw;
  border-radius: 5px;
  background-color: cadetblue;
}

@media (min-width: 800px){
  .card-layout{
    grid-template-areas: 
  "card-1 card-2"
  "card-3 card-4"
  "card-5 .";
  }

  .card-1{
  margin: auto;
  width: 40vw;
  grid-area: card-1;
}

.card-2{
  margin: auto;
  width: 40vw;
  grid-area: card-2;
}

.card-3{
  margin: auto;
  width: 40vw;
  grid-area: card-3;
}

.card-4{
  margin: auto;
  width: 40vw;
  grid-area: card-4;
}

.card-5{
  margin: auto;
  width: 40vw;
  grid-area: card-5;
}
}